/.idea
/.vscode

/vendor
.env
.phpunit.result.cache

/node_modules
/dist

/storage/logs/*.log
*.log

/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

composer.lock
package-lock.json
yarn.lock

.DS_Store